

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}


body {
  font: 9px "open sans", Arial, sans-serif;
}

ul.navbar {
  background: #fff; /* Old browsers */
  width: 960px;
  margin: 2em auto;
}

ul.navbar li {
	float: left;
	margin: 0;
	position: relative;
}

ul.navbar li a {
	display: block;
	padding: 13px 15px;
	color: #777 !important;
	text-decoration: none;
	text-transform: uppercase;
	transition: all .2s ease-in-out;
}

ul.navbar li a:hover,
ul.navbar li:hover > a {
	background: #930659;
	color: #fff;
}

ul.navbar li ul {
  margin: 0;
  position: absolute;
  background: #222;
  left: 10%;
  font-size: 10px;
  min-width: 170px;
  opacity: 0;
  visibility: hidden;
  z-index: 99;
  transition: all .1s ease;
}


